<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# IE対応 %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%# ヘッダー %>
    <%= render 'layouts/header' %>

    <%# flashメッセージ %>
    <% flash.each do |message_type, message| %>
      <%# content_tag: タグを動的に生成。HTMLとERBが混ざってしまう場合などに使用するとすっきり表現できる。 %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>

    <%# メイン %>
    <div class="container">
      <%= yield %>
    </div>

    <%# フッター %>
    <%= render 'layouts/footer' %>

    <%# デバッグ(開発環境の時のみ表示する) %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
